*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #000;
}

.flex{
    display: flex;
}

.flex_end{
    justify-content: flex-end;    
}

.flex_jc_around{
    justify-content: space-around;
}

.flex_jc_between{
    justify-content: space-between;
}

.flex_jc_center{
    justify-content: center;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #000;
    z-index: 999;
}

main{
    padding: 50px 80px;
}

.contenitore{
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.user{
    margin: 5px;
    width: 250px;
    position: relative;
}

.nome_utente{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #434343;
    padding: 5px;
    color: #fff;
}

.nome_utente i{
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #272727;
    min-width: 1100px;
}

.contenuto{
    width: 160px;
}

.btn{
  background-color: #4b4b4b;  
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  margin: 5px 0px;
  cursor: pointer;
}

.box{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.box i{
    font-size: 30px;
}

.box.arrow{
    padding: 0;
}

.box.arrow i{
    font-size: 15px;
    color: #fff;
}

.box .icon_green{
    color: #23c635
}

.btn_grande{
    align-items: center;
    padding: 20px;
    color: red;
    background-color: #4b4b4b;
    cursor: pointer;
}
